@font-face {
  font-family: "Courier Prime";
  src: url('fonts/Courier Prime.ttf') format("truetype");
}

ul {
  text-align: justify;
}

p {
  text-align: justify;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Liberation Sans",sans-serif;
  margin: 1em auto;
  padding: 0em 1em 0em 1em;
  font-size: 1em;
  max-width: 50em;
}

h1 {
  padding-bottom: 0.3em;
}

.subtitle {
  display: block;
  font-weight: normal;
  font-size: 70%;
  color: #777777;
}

h2 {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

h4 {
  padding-left: 1em;
}

code {
  font-family: "Liberation Mono",monospace;
}

pre {
  display: block;
  font-family: "Liberation Mono",monospace;
}

pre.code {
  padding-left: 2em;
  display: block;
  font-family: "Liberation Mono",monospace;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  font-weight: bold;
  color: #225588;
}

pre.code a {
  font-weight: normal;
}

#sides {
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #aaaaaa;
}

/*******************************************************************************
 * Two columns layout
 ******************************************************************************/
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************************************************************
 * Select
******************************************************************************/
#select {
  float: right;
}

#select a {
  font-weight: normal;
  color: #AAAAAA;
  text-decoration: none;
}

#select a:hover {
  color: #777777;
}

/*******************************************************************************
 * Menu
 ******************************************************************************/
#menu {
  width: 100%;
  font-variant: small-caps;
  font-size: 120%;
  font-weight: bold;
}

#menu a {
  text-decoration: none;
  color: #AAAAAA;
}

#menu a:hover {
  color: #777777;
}

/*******************************************************************************
 * Sub-menu
 ******************************************************************************/
.cur {
  color: #f44d27
}

#sub-menu {
  padding-bottom: 1em;
}

#sub-menu a {
  text-decoration: none;
  font-weight: normal;
  color: #000000;
}

#sub-menu a:hover {
  color: #777777;
  font-weight: normal;
}

/*******************************************************************************
 * Content & news
 ******************************************************************************/
#content {
  text-align: left;
  max-width: 50em;
  overflow: hidden;
}

.select-langage {
  font-variant: small-caps;
  float: right;
  color: #000000;
}

.news {
  float: right;
  clear: right;
  margin: 0 0 0.5em 1em;
  padding: 0 0 0 0.5em;
  background-color: #f5f5f5;
  width: 15em;
  text-align: left;
}

.img {
  float: right;
  clear: right;
  margin: 0em 0em 1em 1em;
}

.video {
  text-align: center;
  margin: 1em 1em 1em 1em;
}

.caption {
  text-align: left;
  font-style: italic;
  font-size: 90%;
  margin: 0 0.5em 0 0.5em;
  color: #666666
}

#info {
  margin-top: 3em;
  font-size: 80%;
  color: #777777;
  line-height: 1.4;
}

#info a {
  color: #333333;
  font-weight: normal;
}

/*******************************************************************************
 * Main title
 ******************************************************************************/
#title {
  float: left;
  font-family: "Courier Prime";
  padding: 0.0em 2.0em 0.5em 1.5em;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#title h1 {
  padding-top: 0.5em;
  margin: 0;
}

#title hr {
  width: 30%;
  padding-top: 1em;
}

#title h2 {
  color: #000000;
  padding: 0;
  margin-bottom: 0;
  border-bottom: none;
}

#title a {
  color: #000000;
  text-decoration: none;
}

/*******************************************************************************
 * Footer
 ******************************************************************************/
#footer {
  text-align: left;
  color: #777;
  padding: 2.0em 0em 0em 2em;
  font-size: 80%;
}

#footer a {
  color: #333333;
  font-weight: normal;
  text-decoration: none;
}

/*******************************************************************************
 * Table
 ******************************************************************************/
table.list {
  border-spacing: 0;
  width: 100%;
}

th.list {
  font-variant: small-caps;
  padding: 0.5em 2em 0.5em 2em;
  margin: 0em;
  text-align: center;
  background-color: #ffffff;
}

.list tr:nth-child(2n+1) {
  background-color: #f5f5f5;
}

td.list {
  padding: 0em 2em 0em 2em;
  margin: 0em;
  text-align: center;
}

td {
  vertical-align: top;
}

/*******************************************************************************
 * Miscellaneous
 ******************************************************************************/
.app td {
  text-align: left;
  margin: 0;
  padding: 0em 1em 0em 1em;
}

.app td:nth-child(2n+1) {
  text-align: right;
}

.app tr {
  background: #fff;
}

.app table {
  border-spacing: 0.5em;
  margin-left: 5em;
}

.app input[type=number] {
  background: #FCFCFC;
  border: 2px solid #DDD;
  padding: 0em 0.5em 0em 0.5em;
  color: #666;
  width: 5em;
}

.app
input[type=text] {
  border: none;
  background: #fff;
  width: 5em
}

.app
input[type=number] {
  -moz-appearance: textfield;
}

.app
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app input[type=number]:focus {
  background: #FFF;
  border-color: #f44d27;
  color: #000;
}

/*.app input:invalid {
  box-shadow: none;
  background: #FCFCFC;
  color: #f00;
}*/

.app button {
    background-color: #f0f0f0; /* Green */
    border: none;
    padding: 0.2em 0.2em;
    text-align: center;
    font-variant: small-caps;
    font-weight: bold;
}

/*******************************************************************************
 * Popup
 ******************************************************************************/
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  font-weight: bold;
  color: #225588;
  text-decoration: underline;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 18em;
  background-color: #e0e0e0;
  text-decoration: none;
  font-weight: normal;
  color: #555555;
  font-style: normal;
  text-align: left;
  padding: 1em 1em;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  margin-left: -9em;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
}

/*******************************************************************************
 * Mandoc
 * CSS derivative written by Ingo Schwarze <schwarze@openbsd.org> for
 * OpenBSD man pages
 ******************************************************************************/
.manual-text {
  margin-left: 6em;
}

h1.Sh {
  font-size: 1.5em;
  margin-left: -4em;
}

h2.Ss {
  font-size: 1.5em;
  margin-left: -2.0em;
  border-bottom: none;
  padding: 0em;
}

code.In, code.Nm, .Cm, .Fd, .Fl, .Fn, .Ic {
  font-style: normal;
  font-weight: bold;
}

.permalink {
  border-bottom: thin dotted;
  color: inherit;
  font: inherit;
  text-decoration: inherit;
}

.Nd, .Bf, .Op { display: inline; }
.Pa, .Ad { font-style: italic; }
.Ms { font-weight: bold; }

/* Tables */
table.head, table.foot { width: 100%; border-spacing: 0; }
table.head { padding-top: 2em }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
td.head-ltitle { margin: 0em; padding: 0em; text-align: left; }

/* Display and lists */
.Bd-indent { margin-left: 3.8em; }
.Bl-bullet { list-style-type: disc; padding-left: 1em; }
.Bl-bullet > li { }
.Bl-dash { list-style-type: none; padding-left: 0em; }
.Bl-dash > li { text-indent: -1.3em; }
.Bl-dash > li:before { content: "\2014  "; }
.Bl-item { list-style-type: none; padding-left: 0em; }
.Bl-item > li { }
.Bl-compact > li { margin-top: 0em; }
.Bl-enum {  padding-left: 2em; }
.Bl-enum > li { }
.Bl-compact > li { margin-top: 0em; }
.Bl-diag { }
.Bl-diag > dt { font-style: normal; font-weight: bold; }
.Bl-diag > dd { margin-left: 0em; }
.Bl-hang { }
.Bl-hang > dt { }
.Bl-hang > dd { margin-left: 5.5em; }
.Bl-inset { }
.Bl-inset > dt { }
.Bl-inset > dd { margin-left: 0em; }
.Bl-ohang { }
.Bl-ohang > dt { }
.Bl-ohang > dd { margin-left: 0em; }
.Bl-tag {  margin-top: 0.6em; margin-left: 5.5em; }
.Bl-tag > dt {
  float: left;
  margin-top: 0em;
  margin-left: -5.5em;
  padding-right: 0.5em;
  vertical-align: top;
}
.Bl-tag > dd {
  clear: right;
  column-count: 1;  /* Force block formatting context. */
  width: 100%;
  margin-top: 0em;
  margin-left: 0em;
  margin-bottom: 0.6em;
  vertical-align: top;
}
.Bl-compact {  margin-top: 0em; }
.Bl-compact > dd { margin-bottom: 0em; }
.Bl-compact > dt { margin-top: 0em; }
.Bl-column { }
.Bl-column > tbody > tr { }
.Bl-column > tbody > tr > td { margin-top: 1em; }
.Bl-compact > tbody > tr > td { margin-top: 0em; }
.Rs { font-style: normal; font-weight: normal; }
.RsA { }
.RsB { font-style: italic; font-weight: normal; }
.RsC { }
.RsD { }
.RsI { font-style: italic; font-weight: normal; }
.RsJ { font-style: italic; font-weight: normal; }
.RsN { }
.RsO { }
.RsP { }
.RsQ { }
.RsR { }
.RsT { text-decoration: underline; }
.RsU { }
.RsV { }

.eqn { }
.tbl td {  vertical-align: middle; }
.HP { margin-left: 3.8em; text-indent: -3.8em; }
